<div class="content-block video-block">
	<% if block['source'] == 'vimeo' %>
	  <iframe src="//player.vimeo.com/video/<%= block['remote_id'] %>?title=1&amp;byline=1&amp;portrait=1&amp;autoplay=0" width="600" height="400" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	<% elsif block['source'] == 'youtube' %>
	  <iframe width="600" height="400" src="//www.youtube.com/embed/<%= block['remote_id'] %>" frameborder="0" allowfullscreen></iframe>
	<% elsif block['source'] == 'vine' %>
    <iframe
    src="http://vince.co/v/<%=block['remote_id']%>/embed/simple"
    width="600"
    height="400"
    frameborder="0"></iframe>
    <script async src="//platform.vine.co/static/scripts/embed.js" charset="utf-8"></script>
  <% elsif block['source'] == 'dailymotion' %>
    <iframe
    src="http://www.dailymotion.com/embed/video/<%=block['remote_id']%>"
    width="600"
    height="400"
    frameborder="0"></iframe>
  <% end %>
</div>
